<html>
  <body>
    <center>
      <h1>UNAUTHORIZED!</h1>
      <br>
      <p>Back to login-page: <a href="https://{{ OPNCC_VARS.domain }}/{{ OPNCC_VARS.url.auth }}">https://{{ OPNCC_VARS.domain }}/{{ OPNCC_VARS.url.auth }}</a></p>
    </center>
  </body>
</html>