# {{ ansible_managed }}
# ansibleguy: opnsense-control-center

[Unit]
Description=OPNSense Control Center - Authentication Service

[Service]
Type=simple
User={{ OPNCC.users.auth }}
Group={{ OPNCC.users.auth }}
ExecStart=/bin/bash -c 'source {{ OPNCC.path.data.auth }}/venv/bin/activate && python3 {{ OPNCC.path.data.auth }}/main.py'
WorkingDirectory={{ OPNCC.path.data.auth }}
Environment=PYTHONPATH={{ OPNCC.path.data.auth }}
Environment=PYTHONUNBUFFERED=1

Restart=on-failure
RestartSec=10

StandardOutput=journal
StandardError=journal
SyslogIdentifier=opncc_auth

[Install]
WantedBy=multi-user.target
