# {{ ansible_managed }}
# ansibleguy: opnsense-control-center

[Unit]
Description=OPNSense Control Center - VCS Service
After=docker.service
BindsTo=docker.service

[Service]
Type=simple
User={{ OPNCC_USER }}
Group={{ OPNCC_USER }}
ExecStart={{ OPNCC.path.bin.compose }} -f {{ OPNCC.path.config.compose }}/gitea.yml up
{% if OPNCC_MANAGE.nftables | bool %}
ExecStartPost=/bin/bash -c "sudo /usr/bin/systemctl reload nftables.service"
{% endif %}
ExecStop={{ OPNCC.path.bin.compose }} -f {{ OPNCC.path.config.compose }}/gitea.yml down --remove-orphans

Restart=on-failure
RestartSec=10

StandardOutput=journal
StandardError=journal
SyslogIdentifier=opncc_vcs

[Install]
WantedBy=multi-user.target
