---

# see: https://docs.gitea.io/en-us/installation/install-with-docker-rootless/

version: '3'

networks:
  gitea:
    driver: bridge
    external: false
    ipam:
      driver: default
      config:
      - subnet: '{{ OPNCC.network.gitea }}'

services:
  gitea:
    image: 'gitea/gitea:latest-rootless'
    container_name: 'vcs-gitea'
    environment:
      - 'USER_UID={{ OPNCC.users.gitea }}'
      - 'USER_GID={{ OPNCC.users.gitea }}'
    user: '{{ OPNCC.users.gitea }}'
    restart: 'no'
    networks:
      - gitea
    volumes:
      - '{{ OPNCC.path.data.gitea }}:/var/lib/gitea:rw'
      - '{{ OPNCC.path.config.gitea }}:/etc/gitea:rw'
      - '/etc/timezone:/etc/timezone:ro'
      - '/etc/localtime:/etc/localtime:ro'
    ports:
      - "127.0.0.1:8001:3000"
      - "127.0.0.1:2201:22"
