---

# {{ ansible_managed }}
# ansibleguy: opnsense-control-center

# see: https://coder.com/docs/code-server/latest/install#docker

version: '3'

networks:
  ide:
    driver: 'bridge'
    external: false
    ipam:
      driver: 'default'
      config:
      - subnet: '{{ OPNCC.network.ide }}'

services:
  codeserver:
    image: 'codercom/code-server:{{ OPNCC_VERSIONS.codeserver }}'
    extra_hosts: {{ OPNCC.docker.extra_hosts }}
    container_name: 'ide-codeserver'
    user: '{{ OPNCC.users.ide }}:{{ OPNCC.users.ide }}'
    restart: 'on-failure'
    networks:
      - 'ide'
    volumes:
      - '{{ OPNCC.path.data.ide }}:/home/coder/:rw'
      - '{{ OPNCC.path.data.ansible }}:{{ OPNCC_IDE.root }}/ansible/:rw'
      - '{{ OPNCC.path.config.ide }}:/home/coder/.config/code-server/:rw'
      - '/home/ide/.gitconfig:/home/coder/.gitconfig:ro'
      - '/home/ide/.ssh/:/home/coder/.ssh/:ro'
      - '/home/ide/.ssh/known_hosts:/home/coder/.ssh/known_hosts:rw'
    ports:
      - '127.0.0.1:{{ OPNCC_VARS.port.ide }}:8080'
