---

# {{ ansible_managed }}
# ansibleguy: opnsense-control-center

# see: https://hub.docker.com/r/gogs/gogs/

version: '3'

networks:
  vcs:
    driver: 'bridge'
    external: false
    ipam:
      driver: 'default'
      config:
      - subnet: '{{ OPNCC.network.vcs }}'

services:
  gogs:
    image: 'gogs/gogs:{{ OPNCC_VERSIONS.gogs }}'
    container_name: 'vcs-gogs'
    environment:
      PUID: {{ OPNCC.users.gogs }}
      PGID: {{ OPNCC.users.gogs }}
    restart: 'on-failure'
    extra_hosts: {{ OPNCC.docker.extra_hosts }}
    networks:
      - 'vcs'
    volumes:
      - '{{ OPNCC.path.data.gogs }}:/data:rw'
      - '{{ OPNCC.path.config.gogs }}:/data/gogs/conf:rw'
      - '{{ OPNCC.path.backup.gogs }}:/backup:rw'
    ports:
      - '127.0.0.1:{{ OPNCC_VARS.port.gogs.web }}:3000'
      - '{{ OPNCC_VARS.port.gogs.git }}:22'
