---

# {{ ansible_managed }}
# ansibleguy: opnsense-control-center

# see: https://docs.gitea.io/en-us/installation/install-with-docker-rootless/

version: '3'

networks:
  vcs:
    driver: 'bridge'
    external: false
    ipam:
      driver: 'default'
      config:
      - subnet: '{{ OPNCC.network.vcs }}'


services:
  gitea:
    image: 'gitea/gitea:{{ OPNCC_VERSIONS.gitea }}-rootless'
    container_name: 'vcs-gitea'
    environment:
      USER_UID: {{ OPNCC.users.gitea }}
      USER_GID: {{ OPNCC.users.gitea }}
    user: '{{ OPNCC.users.gitea }}:{{ OPNCC.users.gitea }}'
    restart: 'on-failure'
    extra_hosts: {{ OPNCC.docker.extra_hosts }}
    networks:
      - 'vcs'
    volumes:
      - '{{ OPNCC.path.data.gitea }}:/var/lib/gitea:rw'
      - '{{ OPNCC.path.config.gitea }}:/etc/gitea:rw'
      - '/etc/timezone:/etc/timezone:ro'
      - '/etc/localtime:/etc/localtime:ro'
    ports:
      - '127.0.0.1:{{ OPNCC.port.gitea.web }}:3000'
      - '127.0.0.1:{{ OPNCC.port.gitea.ssh }}:2222'
